anyio
asgiref
attrs
autobahn
Automat
certifi
cffi
channels
channels_redis
charset-normalizer
click
constantly
cryptography
daphne
Django
djangorestframework
drf-spectacular
drf-yasg
gunicorn
h11
httptools
hyperlink
idna
incremental
inflection
jsonschema
msgpack
mysqlclient
packaging
pyasn1
pyasn1_modules
pycparser
PyMySQL
pyOpenSSL
python-decouple
python-dotenv
pytz
PyYAML
redis
referencing
requests
sentry-sdk
service-identity
setuptools
sniffio
sqlparse
Twisted
txaio
typing_extensions
upgrade-pip
uritemplate
urllib3
uvicorn
uvloop
websockets
zope.interface
jsonschema-specifications
rpds-py
watchfiles


